@font-face {
  /* 字体名称 */
  font-family: AlimamaDongFangDaKai-Regular;

  /* 字体文件地址，按照优先级从高到低依次排列 */
  src:url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlimamaDongFangDaKai/AlimamaDongFangDaKai-Regular/AlimamaDongFangDaKai-Regular.eot) format('embedded-opentype'),
    url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlimamaDongFangDaKai/AlimamaDongFangDaKai-Regular/AlimamaDongFangDaKai-Regular.otf) format('opentype'),
    url(./Alimama_DongFangDaKai_Regular.ttf) format('TrueType'),
    url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlimamaDongFangDaKai/AlimamaDongFangDaKai-Regular/AlimamaDongFangDaKai-Regular.woff) format('woff'),
    url(https://puhuiti.oss-cn-hangzhou.aliyuncs.com/AlimamaDongFangDaKai/AlimamaDongFangDaKai-Regular/AlimamaDongFangDaKai-Regular.woff2) format('woff2');
}

  body {
    font-family: 'AlimamaDongFangDaKai-Regular', sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  .danmu-lhc {
    position: relative;
    height: 100vh;
    width: 100vw;
  }

  .danmu {
    position: absolute;
    white-space: nowrap;
    font-size: 18px;
    color: white;
    text-shadow: 1px 1px 1px black;
    right: -100%;
    /* 初始位置在屏幕右侧外部 */
  }