@media only screen and (min-width:670px) {
    .container {
        background-color: #fff;
        width: 600px;
        margin: 50px auto;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        text-align: center
    }

    #lyrics {
        min-height: 38px;
        color: var(--text-color);
        font-size: 28px;
        text-align: center;
        margin-top: 10px
    }
}

@media only screen and (max-width:670px) {
    .container {
        min-width: 330px;
        width: 90%;
        margin-top: 40px;
        padding: 20px;
        border-radius: 5px;
        text-align: center
    }

    #lyrics {
        min-height: 36px;
        font-size: 25px;
        color: var(--text-color);
        text-align: center;
        margin-top: 10px
    }
    .font2 {
        font-family: alishuhei, serif;
        top:-10px;
        position: relative;
    }
}

@font-face {
    font-family: Ali;
    font-weight: 400;
    src: url("https://at.alicdn.com/wf/webfont/AL7WXDq78JMs/sAoHa2deDxb8.woff2") format("woff2"), url("https://at.alicdn.com/wf/webfont/AL7WXDq78JMs/Tho4GG66GOQX.woff") format("woff");
    font-display: swap
}

@font-face {
    font-family: alishuhei;
    font-weight: 700;
    src: url("https://at.alicdn.com/wf/webfont/AL7WXDq78JMs/0QcGnSSggTOJ.woff2") format("woff2"), url("https://at.alicdn.com/wf/webfont/AL7WXDq78JMs/ofDsg1jSWdf1.woff") format("woff")
}

.font2 {
    font-family: alishuhei, serif;
}

body {
    font-family: Ali, sans-serif;
    line-height: 1;
    font-weight: lighter;
    background-color: #f5f5f5
}

h2 {
    margin-top: 0
}

.image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    margin: 20px auto;
    position: relative;
    animation: spin 2s linear infinite
}

.image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover
}

.image {
    animation-name: spin;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite
}

@keyframes spin {
    from {
        transform: rotate(0)
    }

    to {
        transform: rotate(360deg)
    }
}

.progress {
    width: 100%;
    height: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin: 20px auto;
    position: relative
}

.progress-bar {
    width: 0%;
    height: 100%;
    background-color: #4caf50;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0
}

.player-controls {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.spacer {
    flex-grow: 1
}

.play-button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px
}

.play-button.paused {
    background-color: #4caf50
}

.circle {
    position: relative;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #000
}

.color-button {
    background-color: var(--button-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px
}